


/*viewport*/

@media only screen and (max-width:340px){
    .header-area .main-menu .navbar,
    .header-area .main-menu .navbar .navbar-brand,
    .site-main .services-area{
        padding: 2%;
        margin: 0%;
        
    }
    .site-main .site-banner .site-title h1{
        font-size: 41px;
        
    }
}